 
:root {
  --primary-color: #2c3e50;
  --secondary-color: #8e44ad;

  --background-color: #ecf0f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background-color);
  font-family: 'Piazzolla', serif;
  color: var(--primary-color);
}

